// @import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');
$main_background_color:         #F2F1EF;
$main_text-color:               #2a2a2a;
$default_border_radius:           2px;