.cdb-card {
  background: white;
  border-radius: $default_border_radius;
  width: 100%;
  min-height: 60px;
  box-shadow: $default_box_shadow;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: $default_box_shadow_hover;
  }
}

.cdb-card__image {
  img {
    max-width: 100%;
    height: auto;
  }
}